:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  color-scheme: light dark;
  font: 16px/145% system-ui, "Segoe UI", Roboto, sans-serif;
  color: var(--text);
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}

h1 {
  font-weight: 500;
  color: var(--text-h);
}

p {
  margin: 0;
}
